<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../../styles/notetaker.css">
    <script src="https://kit.fontawesome.com/5751639fad.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Note Taker</h1>
    <hr />
    <div class="alert alert-secondary" role="alert">
        <p>
            The example is fairly complex and shows the implementation of a note taking application.
            It is basically one of the final projects as it involves a lot of programming concepts from JavaScript.
            It also stores the messages locally in the database of the browser.
        </p>
        <details>
            <summary>
                Included programming concepts:
            </summary>
            <ul>
                <li>Arrow Functions</li>
                <li>API Calls</li>
                <li>Local Storage</li>
                <li>Callbacks</li>
                <li>Short JavaScript notions</li>
                <li>Built-In Objects</li>
                <li>Classes</li>
                <li>Dom Elements</li>
            </ul>
        </details>
        <br/>
        <details open>
            <summary>
                <mark>Features:</mark>
            </summary>
            <ul>
                <li>Create notes 📝</li>
                <li>Light Mode ☀️ & Dark Mode 🌘</li>
                <li>Store notes 💾</li>
                <li>Edit Notes ✏️</li>
                <li>Dbl Click to delte notes 🗑️</li>
                <li>Date and time of creation (ordered by 📅</li>
            </ul>
        </details>
    </div>
    <div class="alert alert-warning" role="alert">
        <b>Info!</b>
        <p>The programm is running inside an <code>iframe</code> window. 
        The site itself is hosted somewhere else. The link to the website is <a href="https://notetaker-basic.netlify.app/">https://notetaker-basic.netlify.app/</a>.</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://notetaker-basic.netlify.app/" allowfullscreen></iframe>
      </div>
</body>

</html>